# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / Editor Settings
# =========================
.vscode/
.idea/

# =========================
# Logs
# =========================
*.log

# =========================
# Environment / Secrets
# =========================
.env
.env.*

# =========================
# Temporary / Backup Files
# =========================
*.bak
*.tmp
*.swp
*~